.container{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--spacing-4);
}

.goalsList{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  max-width: 80vw;
}

.title{
  background-color: var(--dark);
  border-radius: 100vh 100vh 0 100vh;
  box-shadow: 0 0 1vh 0 rgba(0,0,0,0.5);
  padding: 1.25vh 2.5vh 1.25vh 2vh;
  color: var(--light);
  font-weight: 900;
  font-size: 2.5vh;
  line-height: 90%;
  letter-spacing: -0.1vh;
  text-transform: uppercase;
}