.goalEntry{
  --font-size: 2.25vh;
  --spacing: calc(var(--font-size) * 0.75);
  display: flex;
  align-items: start;

  &.reached{
    .label{
      background: linear-gradient(176deg, #75cb54 -33%, #2e6916 60%, #59AF37 100%);
      color: var(--light);
    }
  }
}

.amount{
  position: relative;
  z-index: 1;
  background: var(--dark);
  padding: 
    calc(var(--spacing) * 0.4)
    calc(var(--spacing) * 0.8);
  border-radius: var(--font-size);
  box-shadow: 0 0 0 1px var(--light-transparent);
  font-weight: 900;
  font-size: var(--font-size);
  color: var(--light);
  white-space: nowrap;

  .currency{
    color: var(--accent);
  }
}

.label{
  display: flex;
  align-items: center;
  align-self: stretch;
  --offset: 2vh;
  background: var(--light);
  margin-left: calc(-1 * var(--offset));
  padding: 
    calc(var(--spacing) * 0.35)
    calc(var(--spacing) * 1.5)
    calc(var(--spacing) * 0.35)
    calc(var(--spacing) * 0.25 + var(--offset));
  border-radius: 
    0
    calc(var(--font-size) * 1.5)
    calc(var(--font-size) * 1.5)
    calc(var(--font-size));
  font-weight: bold;
  font-size: calc(var(--font-size) * 0.85);
  line-height: 110%;
  color: var(--dark);
  white-space: pre;
}